.block-categories {
    width: 22.5%;
    margin: 15px 1.25%;
    float: left;
    min-height: 600px;
    padding-top: 120px;
}

.block-categories::after {
    content: "";
    display: block;
    clear: both;
}

.block-goods-card{
    padding-bottom: 50px;
    padding-top: 50px;
}

.block-goods-card::after {
    content: "";
    display: block;
    clear: both;
}

.products {
    margin: 115px 0 0 0;

}
.goods-card {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    min-height: 410px;
}

.goods-card img {
    margin: 30px 0;
}

.goods-card .price {
    color: #ff5912;
    margin: 30px 0;
}

.categories{
    width: 100%;
    min-height: 300px;
    background: #fff;
    margin-bottom: 30px;
}

.categories h3 {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 25px 45px 35px 45px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.block-270 h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 45px;
}

.price-filter-categories {
    width: 100%;
    min-height: 220px;
    background: #fff;
    margin-bottom: 30px;
}

.price-filter-categories h3 {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 25px 45px 55px 45px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.size-categories {
    width: 100%;
    min-height: 300px;
    background: #fff; 
    margin-bottom: 30px;
}

.size-categories h3 {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 25px 45px 35px 45px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.brands-categories {
    width: 100%;
    min-height: 300px;
    background: #fff; 
    margin-bottom: 30px;
}

.brands-categories h3 {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 25px 45px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.block-270 ul li {
    list-style: none;
    margin-bottom: 40px;
    font-weight: bold;
}

.categories ul li {
    list-style: none;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 40px;
}

.size-categories ul li {
    list-style: none;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 40px;
}

.brands-categories ul li {
    list-style: none;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 40px;
}

.active-square::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 4px solid #ff5912;
    margin-right: 15px;
}

.square::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #edf0f2;
    margin-right: 15px;
}

.block-270 ul {
padding-inline-start: 0;
}

.categories ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.size-categories ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.brands-categories ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line-price-filter {
    position: relative;
}

.line-price-filter .line {
    width: 185px;
    height: 3px;
    background: #edf0f2;
    position: relative;
    left: 45px;
}

.line-price-filter .bold-line {
    width: 115px;
    height: 3px;
    background: #34404b;
    position: absolute;
    top: 0;
    left: 80px;
}

.line-price-filter .dot-1 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #34404b;
    position: absolute;
    top: -3px;
    left: 79px;
}

.line-price-filter .dot-2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #34404b;
    position: absolute;
    top: -3px;
    left: 195px;
}

.line-price-filter .dot-price-1 {
    position: absolute;
    top: -30px;
    left: 72px;
    color: #34404b;
    font-size: 0.875rem;
}

.line-price-filter .dot-price-2 {
    position: absolute;
    top: -30px;
    left: 180px;
    color: #34404b;
    font-size: 0.875rem;
}

.input-filter {
    position: relative;
    margin-top: 40px;
    font-size: 0.875rem;
    padding-left: 45px;
}

.input-filter input {
    width: 45px;
    height: 23px;
    background: #edf0f2;
    margin-left: 7px;   
    margin-right: 15px; 
}
.goods-card .goods-title-active {
    color: #ff5912;
}

.goods-card .sizes-active {
    color: #788088;
    font-size: 0.875rem; 
    margin-top: 35px;
}

.icons-product {
    width: 100%;
    max-height: 60px;
    position: relative;
}

.icons-product .share-ico {
    margin: 0;
    position: absolute;
    top: 25px;
    left: 65px;
}

.icons-product .add-to-cart-ico {
    margin: 0;
    position: absolute;
    top: 21px;
    left: 120px;
}

.icons-product .like-ico {
    margin: 0;
    position: absolute;
    top: 26px;
    left: 180px;
}

/* --------------------mobile 768-------------------- */
@media screen and (max-width:768px) {
    .block-170,
    .block-270,
    .block-370,
    .block-470,
    .block-570,
    .block-670,
    .block-870,
    .block-1170 
    .best-sales-img {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }
    .md-1,
    .md-2,
    .md-3,
    .md-4,
    .md-6,
    .md-8,
    .md-10,
    .md-12 {
        float: left;
        margin: 0 1.25%;
    }
    .md-1 {
        width: 5.8333%;
    }

    .md-2 {
        width: 14.1666%;
    }

    .md-3 {
        width: 22.5%;
    }

    .md-4 {
        width: 30.8333%;
    }

    .md-6 {
        width: 47.5%;
    }

    .md-8 {
        width: 64.1667%;
    }

    .md-10 {
        width: 80.8334%;
    }

    .md-12 {
        width: 97.5%;
    }
    
    .md-center {
        text-align: center;
    }

    .divider {
        margin-bottom: 40px;
    }

    .main-nav ul li {
        margin: 10px 40px 10px 0;
    }

    .big-header .ico-block .ico-3 {
        margin: 45px 60px 20px 0;
    }

    .ico-block a span {
        right: 0;
    }

    .slider-on-top-bg {
        min-height: 350px;
    }

    .block-270 {
        margin-bottom: 20px;

    }

    .best-sales-img .stars {
        margin-bottom: 2px;
    }

    .news-letter .mail-us {
        margin-top: -70px;

    }

    .news-letter .join-us-button {
        margin-top: -90px;

    }

    .live-support {
        margin-left: 30px;
    }

    .payments {
        float: right;
        margin-top: 5px;
    }

    .site-footer {
        padding: 23px 0 10px 0;
    }

}